<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a class="navbar-brand" href="/">Good Magazine</a>
        <button class="btn btn-outline-success" type="button" href="/scrape">Scrape Articles</button>
        <button class="btn btn-outline-primary" type="button">Saved Articles</button>
    </form>
</nav>

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title text-warning">Headline</h4>
            <h6 class="card-subtitle mb-2 text-muted">Subtitle of the article</h6>
            <p class="card-text">Summary - a short summary of the article.</p>
            <a href="#" class="card-link">URL</a>
            <a href="#" class="btn btn-primary">Save Article</a>
        </div>
    </div>
</div>

<script src="../assets/js/scrape.js"></script>